/* ESTILIZAÇÃO GERAL */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
}

body {
    overflow-x: hidden;
}

:root {
    --corprincipal: #262626;
}

/*CONTAINER*/


/* HEADER TOPO */

#logo {
    width: 68px;
    cursor: pointer;
}

#logo:hover {
    opacity: 0.85;
    transition-duration: 0.1s;
}

/*alterei para um valor fixo, para facilitar integração com outros dispositivos*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}

.HeaderCima,
.HeaderMeio {
    display: flex;
    flex-direction: row;
}

.HeaderCima {
    width: 100%;
    height: 36px;
    justify-content: space-evenly;
    background-color: var(--corprincipal);
    position: fixed;
    top: 0;
}

.containerNav {
    display: flex;
    align-items: center;
    max-width: 1170px;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    margin: 0 1em;
    margin-right: 0;
    max-width: 854px;
    width: 100%;
    height: 100%;
}

.containerNav a:hover {
    background-color: #363636;
    color: hsla(0, 0%, 100%, 0.75);
    transition-duration: 0.1s;
    scale: 1.01;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    padding: 0 8px;
}

.containerNav a i {
    padding: 1.5px 4px 1.5px 0;
    font-size: 24px;
    display: inline;
}

/* HEADER MEIO */

.HeaderMeio {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #33333333;
}

.containerMenu {
    display: flex;
    max-width: 1290px;
    width: 100%;
    height: 100px;
    align-items: center;
    place-items: center;
}

.Menu,
.Login {
    display: flex;
    align-items: center;
    max-width: 285px;
    width: 100%;
}

.Menu {
    justify-content: start;
}


.assinatura {
    color: red;
    font-weight: bold;
}

.Menu button,
.Menu p {
    width: 4.5em;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.Menu button {
    width: 37px;
}

.Menu p {
    font-size: 13px;
    font-weight: 600;
}

.Menu button:hover,
.Menu p:hover,
.Menu i:hover,
.containerTitulo h1:hover,
.Menu a:hover,
.divBuscar:hover,
.divLogin:hover {
    opacity: 0.70;
    transition-duration: 0.1s;
}

.MenuBotao i {
    color: black;
    font-size: 30px;
    cursor: pointer;
    vertical-align: middle;
}


.estrelas {
    margin: 0 15px 0 15px;
    display: flex;
    align-items: center;
}

.estrelas i {
    font-size: 10px;
    margin: .2em;
}

.red {
    color: red;
}

.blue {
    color: #0276fa;
}

.black {
    color: black;
}

.red,
.blue,
.black {
    font-size: .367em;
    letter-spacing: .5em;
    font-family: Georgia, serif;
}

.containerTitulo {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textoAbaixoDoTitulo {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textoAbaixoDoTitulo p {
    font-size: 0.6em;
    line-height: 2em;
    font-family: 'FolhaII', Georgia, serif;
}

.Login {
    justify-content: end;
}

.Login i {
    color: black;
}

.divLogin {
    display: flex;
}

.divLogin a,
.divBuscar button {
    font-weight: 600;
    border: 0;
    background-color: white;
    color: black;
    font-size: 13px;
}

a>h1 {
    color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3.2em;
    letter-spacing: -.07em;
}

.HeaderMeio p {
    color: black;
}


.divBuscar button {
    height: 24px;
}

/*main*/

main {
    display: flex;
    justify-content: center;
}

.container {
    width: 680px;
}

.container img {
    width: 640px;
    height: 360px;
}

article {
    margin: 16px;

}

main h1 {
    text-align: left;
    font: 700;
    font-family: arial, sans-serif;
    font-size: 40px;
    color: black;
    margin-bottom: 16px;
}

main p,
main a {
    margin: 0 auto;
    text-align: justify;
    color: black;
}

main img {
    margin-bottom: 1em;
    text-align: center;
}

main p span {
    color: rgb(252, 43, 43);
    font-size: 12px;
    font: 500;
    text-align: left;
}

.paragrafo p {
    margin-bottom: .8em;
}

p {
    text-indent: 1em;
}

/*footer*/

footer {
    display: flex;
    justify-content: center;
    background-color: var(--corprincipal);
    width: 100dvw;
    height: 57px;
    margin-top: 3em;
}

footer h2,
footer a {
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .4em;
}

footer a {
    color: rgb(55, 168, 168);
    font-size: 1em;
    font-weight: bolder;
    position: relative;
    padding: 0 10px;
    transition: .3s ease;
}

footer a::after {
    content: "";
    position: absolute;
    background-color: aqua;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transform: scaleX(0);
    transition: .3s ease;
}

footer a:hover::after {
    transform: scaleX(1);
}

footer a:hover {
    opacity: .65;
    transform: scale(.9);
}